{% extends "base.html" %}
{% block title %}Сброс пароля | Hello Junior{% endblock %}
{% block breadcrumb %}
        <!-- Breadcrumb Section Start -->
        <div class="breadcrumb-section section bg_color--5 pt-60 pt-sm-50 pt-xs-40 pb-60 pb-sm-50 pb-xs-40">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="page-breadcrumb-content">
                            <ul class="page-breadcrumb">
                                <li><a href="{% url 'index' %}">Главная</a></li>
                                <li>Сброс пароля</li>
                            </ul>
                            <h1>Сброс пароля</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb Section Start -->
{% endblock %}

{% block content %}
        <!-- Login Register Section Start -->
        <div class="login-register-section section bg_color--5 pb-120 pb-lg-100 pb-md-80 pb-sm-60 pb-xs-50">
            <div class="container">
                <div class="row no-gutters">

                    <div class="col-lg-4">
                        <div class="login-register-form-area">
                            <div class="login-tab-menu">
                                <ul class="nav">
                                    <li><a class="active show" data-toggle="tab">Сброс пароля</a></li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div id="login" class="tab-pane fade show active">
                                    <div class="login-register-form">
                                        <form action="" method="post">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-12">
                                                {% if user.is_authenticated %}
                                                    <p>Вы авторизованы. Чтобы сбросить пароль, сначала <a href="{% url 'logout' %}">выйдите из профиля</a></p>
                                                {% else %}
                                                    <p>Получите ссылку на восстановление пароля</p>
                                                    <div class="single-input">
                                                        {{ form }}
                                                    </div>
                                                    <div class="col-12 mb-25"><button class="ht-btn">Сбросить пароль</button></div>
                                                {% endif %}
                                                </div>


<!--                                                <div class="col-12">-->
<!--                                                    <div class="checkbox-input">-->
<!--                                                        <input type="checkbox" name="login-form-remember" id="login-form-remember">-->
<!--                                                        <label for="login-form-remember">Remember me</label>-->
<!--                                                    </div>-->
<!--                                                </div>-->

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="login-instruction">
                            <div class="login-instruction-content">
                                <h3 class="title">Зачем нужна регистрация</h3>
                                <p>Авторизация на сайте даёт возможность:</p>
                                <ul class="list-reasons">
                                    <li class="reason">Сохранить параметры поиска вакансий в профиле</li>
                                    <li class="reason">Подписаться на email-рассылку новых вакансий по сохранённым параметрам</li>
                                    <li class="reason">Добавлять вакансии в избранное</li>
                                    <li class="reason">Перейти на сайт-источник вакансии</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Login Register Section End -->
{% endblock %}
